<div class="container">
  <%= link_to "Spanish", projects_path, class: "btn btn-primary my-4" %>
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="d-flex align-items-center">
        <div class="user">
          <% @users.each do |user| %>
            <div class="user">
              <%= cl_image_tag user.photo %>
            </div>
          <% end %>
        </div>
        <div class="name">
          <h3>David Varon</h3>
          <h6>Full Stack Developer</h6>
        </div>
      </div>
      <div class="technologies-container">
        <h3>Toolbox</h3>
        <p>The main tools I use to create my projects</p>
        <div class="technologies">
          <% @technologies.each do |technology| %>
            <div class="technology">
              <%= cl_image_tag technology.photo %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="about-me col-lg-8 col-12">
      <p>I am a fullstack web developer, specialized in Ruby on Rails, JavaScript, HTML5, and CSS3. I possess knowledge in both backend and frontend development and have a solid understanding of SQL and database management. My passion for technology drives me to constantly seek new professional challenges.</p>
      <p>I graduated as an Aeronautical Engineer from the Pontifical Bolivarian University of Medellín. Additionally, I completed the Full Stack Web Development program at Le Wagon Bootcamp in Buenos Aires, Argentina. I also had the experience of being a professional skateboarder. I am passionate about sports and always eager to learn new things.</p>
      <p>While actively seeking new opportunities, I am excited to blend my technical skills, analytical mindset, and sports passion into innovative and high-quality web development projects. I am open to new challenges and eager to make a meaningful contribution to rewarding projects.</p>
      <br>
      <h4>Feel free to reach out.</h4>
      <br>
      <div class="social-links d-flex">
        <a href="https://www.linkedin.com/in/davidvaronduarte/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/dvaron2099" target="_blank">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/david.varon2099/" target="_blank">
          <i class="fa-brands fa-instagram fa-2x"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=573232313535" target="_blank">
          <i class="fa-brands fa-whatsapp fa-2x"></i>
        </a>
        <a href="mailto:varondavid20@gmail.com">
          <i class="fa-solid fa-envelope fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <h2>Projects</h2>
      <div class="projects">
        <% @projects.each do |project| %>
          <div class="project">
            <% if project.photos.any? %>
              <%= link_to project_en_path(project) do %>
              <%= cl_image_tag project.photos.first %>
            <% end %>
            <h3><%= project.name %></h3>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<footer class="footer">
  <p>&copy; <%= Time.now.year %> Web Developer</p>
</footer>
