<div class="container">
  <%= link_to "Ingles", projects_en_path, class: "btn btn-primary my-4" %>
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="d-flex align-items-center">
        <div class="user">
          <% @users.each do |user| %>
            <div class="user">
              <% if user.photo.present? %>
                <%= cl_image_tag user.photo.key %>
              <% else %>
                <!-- Puedes mostrar un marcador de posición o un mensaje de que no hay imagen disponible -->
                <p>No hay imagen disponible para este usuario</p>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="name">
          <h3>David Varon</h3>
          <h6>Desarrollador Full Stack</h6>
        </div>
      </div>
      <div class="technologies-container">
        <h3>Caja de herramientas</h3>
        <p>Las principales herramientas que uso para crear mis proyectos</p>
        <div class="technologies">
          <% @technologies.each do |technology| %>
            <div class="technology">
              <%= cl_image_tag technology.photo.key %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="about-me col-lg-8 col-12">
      <p>Soy desarrollo web fullstack, especializado en Ruby on Rails, JavaScript, HTML5 y CSS3. Poseo conocimientos tanto en el desarrollo del backend como en el frontend, y tengo una comprensión sólida de SQL y la gestión de bases de datos. Mi pasión por la tecnología me impulsa a estar constantemente en busca de nuevos retos profesionales.</p>
      <p>Me gradué como Ingeniero Aeronáutico en la Universidad Pontificia Bolivariana de Medellín. Además, completé el programa de Desarrollo Web Full Stack en el Bootcamp Le Wagon en la ciudad de Buenos Aires, Argentina. También, tuve la experiencia de ser patinador profesional. Soy un apasionado de los deportes y siempre estoy ansioso por aprender nuevas cosas.</p>
      <p>Mientras busco activamente nuevas oportunidades, me emociona combinar mis habilidades técnicas, mentalidad analítica y pasión por los deportes en proyectos de desarrollo web innovadores y de alta calidad. Estoy abierto a nuevos desafíos y ansioso por hacer una contribución significativa en proyectos gratificantes.</p>
      <br>
      <h4>No dudes en contactarme.</h4>
      <br>
      <div class="social-links d-flex">
        <a href="https://www.linkedin.com/in/davidvaronduarte/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/dvaron2099" target="_blank">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/david.varon2099/" target="_blank">
          <i class="fa-brands fa-instagram fa-2x"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=573232313535" target="_blank">
          <i class="fa-brands fa-whatsapp fa-2x"></i>
        </a>
        <a href="mailto:varondavid20@gmail.com">
          <i class="fa-solid fa-envelope fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <h2>Proyectos</h2>
      <div class="projects">
        <% @projects.each do |project| %>
          <div class="project">
            <% if project.photos.any? %>
              <%= link_to project_path(project) do %>
              <%= cl_image_tag project.photos.first.key %>
            <% end %>
            <h3><%= project.name %></h3>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<footer class="footer">
  <p>&copy; <%= Time.now.year %> Desarrollador Web</p>
</footer>
