<div class="container">
  <%= link_to projects_path, class: "text-decoration-none text-black" do %>
    <i class="fa-sharp fa-solid fa-house fa-2x pb-4" style="color: #c0c1c4;"></i>
  <% end %>
  <div class="row">
    <div class="col-lg-7 col-12">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @project.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>" style="transition: transform .6s ease-in-out">
              <%= cl_image_tag photo.key, class: 'd-block w-100', alt: "Slide #{index + 1}" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-5 col-12 details">
      <h2><%= @project.name %></h2>
      <p><%= @project.description_en %></p>
      <i class="fa-brands fa-github" style="color: #d9dee8;"></i>
      <%= link_to @project.repo, @project.repo, target: "_blank", class: "repo-link" %></p>
      <% if @project.link.present? %>
        <i class="fa-solid fa-link" style="color: #d1d8e6;"></i>
        <%= link_to @project.link, @project.link, target: "_blank", class: "link-icon" %>
      <% end %>
    </div>

  </div>
  <div class="tools">
    <h3 class="py-4">Tools Used</h3>
    <div class="technology-grid">
      <% @technologies.each do |technology| %>
        <div class="technology">
          <%= cl_image_tag technology.photo.key, alt: technology.name %>
          <span><%= technology.name %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
